.verify-user-otp {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px 0px 50px;
}


.otp-img img {
    border: none;
    background: none;
    box-shadow: none;
    margin: 10px 20px 10px;
}

.otp-form {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.otp-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 20px 20px;
    align-items: center;
}

form > * {
    margin: 10px;
}

form label {
    font-weight: 600;
}

.otp-form input {
    text-align: center;
    border: none;
    box-shadow: 0 0 0.2em 0.05em #0000001c;
    padding: 5px;
    border-radius: 10px;
}


.otp-form button {
    width: 20%;
}






/* 

.verify-user-otp {
    display: flex;
    position: relative;
    bottom: -130px;
    flex-direction: row;
    width: 100%;
    height: 450px;
    justify-content: center;
 
    z-index: 2;
    align-items: center;
}


.otp-form {
    padding: 75px;
    width: 40%;

}

.otp-form p {
    font-weight: bold;
    text-align: center;
}


.otp-form form {
    display: flex;
    flex-direction: column;
    direction: rtl;
}



.otp-form form label {
    margin: 10px 0px 15px 0px;
}


.otp-form form input {
    margin: 10px 0px 15px 0px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    border-color: #1E293B;
}



.otp-form form button {
    margin: auto;
    width: 50%;
    height: 40px;
    font-weight: bold;
    background: #1E293B;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
}


.otp-form form button:hover {
    background-color: #334155;
    color: #FFFFFF;
    border-color: #334155;
    border: 1px solid;
}


.verify-user-otp button {
    margin: auto;
    width: 20%;
    height: 40px;
    font-weight: bold;
    background: #1E293B;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
}

.verify-user-otp button a {
    color: white;
    text-decoration: none;
}
.verify-user-otp button:hover {
    background-color: #334155;
    color: #FFFFFF;
    border-color: #334155;
    border: 1px solid;
}
 */
