

<nav class="navbar navbar-expand-lg ">


    <div class="container-fluid">
        
        <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
            
            <form class="d-flex">
                <input class="form-control me-2" type="sear
                ch" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>

            </form>

        </div> -->

            <ul class="navbar-nav icons-section me-auto mb-2 mb-lg-0 ">

                {% if userauth.is_authenticated  %}
                <li class="nav-item">
                    {% if usertype == 'user' %}
                    <a class="nav-link" href="{% url 'UserPanel' %}">
                        داشبورد من <i class="fa-solid fa-gear"></i> 
                    </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'AdminDashboard' %}">
                        داشبورد من <i class="fa-solid fa-gear"></i> 
                        </a>
                    {% endif %}
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'HomePage' %}">
                       خانه <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                
                {% if  not userauth.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'AuthLogin' %}">
                    وارد شوید<i class="fa-solid fa-login"></i>
                    </a>
                </li>
                {% endif %}

            </ul>

        <p>.:Electra:.</p>
        
    </div>

</nav>


<style>

.navbar.navbar-expand-lg{
    background-color: #1E293B !important; 
    z-index: 2;
    position: fixed;
    width: 100%;
    direction: rtl;
}


.icons-section {
    display: flex;
    margin: 0px 0px 0px;
    width: 100%;
}


.nav-item a  {
    color: white;
    font-weight: 900;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
}
</style>