
<nav class="navbar navbar-expand-lg ">


        <div class="empty-div-section">
        </div>


        <div class="container-fluid" id="menu-cotainer">

                <ul class="navbar-nav icons-section me-auto mb-2 mb-lg-0 " >

                    <li class="nav-item homeicon">
                        <a class="nav-link active" aria-current="page" href="{% url 'HomePage' %}">
                            <i class="fa-solid fa-house"> </i>
                            خانه
                        </a>
                    </li>
                    
                    {% if  userauth.is_authenticated  %}

                        <li class="nav-item">
                                {% if usertype == 'user' %}
                                    <a class="nav-link" href="{% url 'UserPanel' %}">
                                        داشبورد من <i class="fa-solid fa-gear"></i>
                                    </a>
                                {% else %}
                                    <a class="nav-link" href="{% url 'AdminDashboard' %}">
                                    داشبورد من <i class="fa-solid fa-gear"></i>
                                    </a>
                                {% endif %}
                        </li>
                    {% endif %}


                    {% if  not userauth.is_authenticated %}
                       <li class="nav-item loginicon">
                               <a class="nav-link active" aria-current="page" href="{% url 'AuthLogin' %}">
                                    <i class="fa-solid fa-right-to-bracket"> </i>
                                    ورود
                               </a>
                       </li>
                   {% endif %}

                </ul>

        </div>


        <div class="logo-section">
            <p>.:-Electra-:.</p> </div>

        <div class="empty-div-section">
        </div>

</nav>

