{% extends 'root.html' %}


{% block main_home_page %}
    


<div class="main-page">

    <div class="static-contetnt-one">

        <div class="content">

            <h3 class="text-center text-primary" > رأی‌گیری آنلاین، ساده‌تر از همیشه ، خوش آمدید</h3>
            <h6 class="text-center text-primary">الکترا، سامانه‌ای پیشرفته برای رأی‌گیری آنلاین در سازمان‌هاست</h6>
            <h6 class="text-center text-primary"> .ساده ، امن و قابل‌ اعتماد </h6>
            <p class="direction"><a href="{% url 'AuthLogin' %}"> <i class="fa-solid fa-angle-double-left"></i> از اینجا وارد شوید </a></p>
        
        </div>

    </div>

</div>


{% endblock %}