<!DOCTYPE html>
<html>


<!-- include header -->
{% include 'header.html' %}

{% load static %}

<!-- Load CSS of bootstap -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

<!-- Load CSS of Font-aweasome -->
<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">




<head>
    <title> Electra </> </title>
</head>



<body>

{% block main_home_page %} {% endblock %}


<!-- Login & Register -->
{% block login_page %} {% endblock %}
{% block register_page %} {% endblock %}




<!-- Admin Dashboard -->
{% block admin_dash_page %} {% endblock %}



<!-- include Footer -->
{% include  'footer.html' %}




<!-- Load JS of bootstap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


<!-- Load JS of Font-aweasome -->
<script src="{% static 'fontawesome/js/all.js' %}"></script>

{% if showmodel %}
<script>
  var myModal = new bootstrap.Modal(document.getElementById('infoModal'));
  myModal.show();
</script>
{% endif %}

</body>
</html>