<!DOCTYPE html>
<html>


<!-- include header -->
{% include 'header.html' %}

{% load static %}

<!-- Load CSS of bootstap -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">





<head>
    <title> Electra </> </title>
</head>



<body>

{% block main_home_page %} {% endblock %}


<!-- Login & Register -->
{% block login_page %} {% endblock %}
{% block register_page %} {% endblock %}


<!-- include Footer -->
{% include  'footer.html' %}



<!-- Load JS of bootstap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>


</body>






</html>