<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

<!-- include header -->
{% include 'header.html' %}

{% load static %}


<!-- Load CSS of bootstap -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">


<!-- Load CSS of Font-aweasome -->
<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">


<!-- Load CSS of select2 -->
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">


<!-- Load CSS of header.html & footer.html & main.html -->
<link rel="stylesheet" href="{%  static 'css/header.css' %}">

<link rel="stylesheet" href="{%  static 'css/footer.css' %}">

<link rel="stylesheet" href="{%  static 'css/main.css' %}">



<!-- Load CSS of Authentications -->
<link rel="stylesheet" href="{%  static 'css/Authentications/login.css' %}">

<link rel="stylesheet" href="{%  static 'css/Authentications/verifyotp.css' %}">


<!-- Load CSS of SuperAdmins -->
<link rel="stylesheet" href="{%  static 'css/admin/homepage.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/sidebar.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/dashboard.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/registernewadmin.css' %}">


<!-- Load CSS of Admins -->
<link rel="stylesheet" href="{%  static 'css/admin/admin/registeruserbyadmin.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/admin/modifyregisteruser.css' %}">


<!-- SuperAdmins-->
<link rel="stylesheet" href="{%  static 'css/admin/superadmin/admins.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/superadmin/modifyselectedadmin.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/superadmin/addnewadmin.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/superadmin/registernewadmin.css' %}">


<!-- Votepanels -->
<link rel="stylesheet" href="{%  static 'css/admin/votepanels/votepanels.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/votepanels/modifyselectedvotepanel.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/votepanels/addvotepanel.css' %}">



<!-- Candidates -->
<link rel="stylesheet" href="{%  static 'css/admin/candidates/candidates.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/candidates/modifyselectedcandidate.css' %}">

<link rel="stylesheet" href="{%  static 'css/admin/candidates/addcandidate.css' %}">



<!-- Votes -->
<link rel="stylesheet" href="{%  static 'css/votes/voteslist.css' %}">


<link rel="stylesheet" href="{%  static 'css/votes/loadvotepaneltovote.css' %}">



<!-- Users -->
<link rel="stylesheet" href="{%  static 'css/user/sidebar-user.css' %}">






<!-- Load JQuery from DNS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<head>
    <title> Electra </> </title>
</head>

<body>

    <!-- Main page -->
    {% block main_home_page %} {% endblock %}

    <!-- Login & Register -->
    {% block login_page %} {% endblock %}

    {% block register_page %} {% endblock %}

    <!-- OTP  -->
    {% block verify_otp  %} {% endblock %}

    <!-- Admin Dashboard -->
    {% block admin_dash_page %} {% endblock %}

    <!-- User dashborad -->
    {% block user_dash_page %} {% endblock %}

    <!-- 404 page -->
    {% block 404page %}{% endblock %}

    <!-- 500 page -->
    {% block 500sever %}{% endblock %}

    <!-- include Footer -->
    {% include  'footer.html' %}


    <!-- Load JS of bootstap -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Load JS of Font-aweasome -->
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>

    <!-- Load JS of select2 -->
    <script src="{% static 'js/select2.min.js' %}"></script>

</body>


</html>



<style> 

* { 
    
    font-family: 'cursive',
}

</style>