#-General settings -> accept both srt & arrays for ALLOWE_HOST
SECRET_KEY=''
DEBUG=''
ADMIN=''
ALLOWED_HOST=[]


#-Mysql db settings
DB_NAME=''
DB_HOST=''
DB_USER=''
DB_PORT=''
DB_PASSWORD=''


#-Otp settings 
OTP_REQUIRED=""


#-CSRF settings -> accept both srt & arrays
CSRF_TRUSTED=[]

