#-General settings 
SECRET_KEY=''
DEBUG=''
ADMIN=''
ALLOWED_HOST='[]''

#-Mysql db settings
DB_NAME=''
DB_HOST=''
DB_USER=''
DB_PORT=''
DB_PASSWORD=''


#-Otp settings 
OTP_REQUIRED=""
SESSION_COOKIE_AGE=""


#-CSRF settings
CSRF_TRUSTED='[]'

