.modify-votepanel-section {
    width: 100%;
    display: flex;
    direction: rtl;
    margin: 10px 0px 50px;
}



.right-section{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.left-section {
    display: flex;
    align-items: flex-start;
    text-align: center;
    padding: 5px;
    margin: 25px;
}

.div-msg {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
}

.align-items-center {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center !important;
    padding: 8px;
    border-radius: 10px;

}

.static-votepanel-data {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}


.static-votepanel-data p {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}



.description-div > p {
    margin: 5px 5px 10px 5px;
    width: 10%;
    font-weight: 500;
}



.desc-div {
    border: 1px solid #0000004f;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    padding: 15px;
    word-break: break-all;
}



.datetime-div {
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin: 10px 5px 10px 5px;
}

.datetime-div p {
    margin: 0;
}

.start-datetime{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 10px;
    padding: 10px 0px 10px;
}


.start-datetime input {
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0 0.2em 0.025em #0000001c;
    padding: 5px 10px 5px;
    text-align: center;
}

.end-datetime {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px 10px;
    padding: 10px 0px 10px;
}

.end-datetime input {
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0 0.2em 0.025em #0000001c;
    padding: 5px 10px 5px;
    text-align: center;
}


.status-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 5px;
    padding: 1px;
}



.status-section p {
    margin: 0px 0px 0px 50px;
    align-items: center;
    display: flex;
}



.status-section select {
    width: 20%;
    text-align: center;
    border-radius: 10px;
    padding: 5px;

}

.candidate-section label {
    margin: 0px;
    padding: 5px;
}


.form-select-candidate {
    margin: 10px;
}



.candidate-section  {
    margin: 10px;
}

.votepanel-button-div {
    display: flex;
    justify-content: left;
    margin: 25px 25px 10px;
}

.votepanel-button-div button {
    width: 20%;
    background-color: #1E293B !important;
}





























/* 


.btns-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: bold;
    margin: 0px 10px 0px;
}



.btns-info button {
    background: #334155;
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    transition: border-radius;
    transition-delay: 200ms;
    transition-duration: 250ms;
}

.btns-info button:hover {
    border-radius: 5px;

}


.btns-info button a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}


.info-msg {
    width: 25%;
}

.alert {
    margin: auto;
    direction: ltr;
    width: max-content;
    padding: 15px 35px;
}




.form-votepanel{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.non-changable-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px 20px 20px 0px;
    padding-left: 25px;
    font-weight: bold;
}



.description {
    margin: 15px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
}


.descrip {
    margin: 20px 10px;
    font-weight: 900;
}

.descript {
    width: auto;
    margin: 0px 20px;
    font-size: 18px;
}

.changable-data {
    display: flex;
    margin-bottom: 15px;
    width: 80%;
    font-weight: 600;
    justify-content: space-evenly;

}



.start_date-div {
    display: flex;
    margin: 10px 30px 0px 30px;
    padding: 15px;
    width: 50%;
    justify-content: center;
    align-items: center;
}


.end_date-div {
    display: flex;
    margin: 10px 0px 0px 30px;
    padding: 15px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

p {
    margin: 10px;
}


.start_date-div input {
    padding: 8px;
    margin: 0px 25px;
    border-width: 1px;
    border-radius: 10px;
}



.end_date-div input {
    padding: 8px;
    margin: 0px 25px;
    border-width: 1px;
    border-radius: 10px;
}



.changable-data-section-two {
    width: 85%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;    
    margin: 0px 0px 30px 0px;
}


.submitbtn {
    margin: 35px;
    width: 50%;
    display: flex;
    padding: 10px 35px 10px 35px;
    font-weight: bold;
    background: #1E293B;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}


.form-select{
    margin: 15px 0px
}

.submitbtn:hover{
    background-color: #334155;
}




 */



/* ///////////////////// */






/* 
.left-section { 
    width: 60%;
    scroll-behavior: smooth;
    
}

.candidate-table {
    margin: 20px 0px;
    width: 100%;
}

thead {    
    text-align: center;
}

tbody { 
    text-align: center;
} 

th {
    align-content: center;
}
 */
