

.main-candidate {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.panel_candidate {
    width: 100%;
    direction: rtl;
}


th {
    align-content: center;
    text-align: center;
}






.candidate-top-section{
    display: flex;
    justify-content: right;

}


.candidate-top-section button {
    background: #334155;
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    transition: border-radius;
    transition-delay: 200ms;
    transition-duration: 250ms;
}

.candidate-top-section button:hover {
    border-radius: 5px;

}


.candidate-top-section button a {
    text-decoration: none;
    color: white;
}






.candidate-detail-button {
    border-radius: 10px;
    padding: 10px 20px;
    border:none;
    font-size: 18px;
}

.candidate-detail-button a {
    text-decoration: none;
    color: black;
}