.main-candidate-page {
        width: 100%;
    height: auto;
    padding: 5px;
}


.candidate-top-div {
    display: flex;
    justify-content: left;
    width: 100%;
    margin: 5px 0px 10px;
}






.candidate-top-div  > button {
    background: #334155;
    border: none;
    padding: 10px 20px 10px;
    border-radius: 10px;
    margin: 10px;
    width: 12%;
}



.candidate-top-div button:hover {
    border-radius: 5px;
}



.candidate-top-div a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}







.pagination-section-candidate {
    width: 100%;
    display: flex;
    justify-content: center;
}



.pagination-prev , .pagination-next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    width: 8%;
    border-style: none;
    margin: 15px;
    padding: 8px;
}



.pagination-prev a , .pagination-next a {
    width: 100%;
    text-decoration: none;
    color: black;
}

.pagination-prev:hover , .pagination-next:hover {
    border-radius: 0px;
}


















.candidate-bottom-div {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.candidate-table {
    width: 95%;
    margin: 10px 0px 50px;  
}


tr.contenttr {
    opacity: 0.75;
}


tr.contenttr:hover {
    opacity: 1;
}




th {
    width: 25%;
    align-content: center;
    text-align: center;
   
}




.candidate-detail-button {
    border: none;
    width: 50%;
    padding: 10px 30px 10px;
    border-radius: 10px;
}


.candidate-detail-button:hover {
    border-radius: 5px;
}


.candidate-detail-button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    width: 100%;
}








