.main-candidate-page {
        width: 100%;
    height: auto;
    padding: 5px;
}


.candidate-top-div {
    display: flex;
    justify-content: left;
    width: max-content;
    margin: 5px 0px 10px;
}


.candidate-top-div button {
    background: #334155;
    border: none;
    padding: 5px 15px 5px;
    border-radius: 10px;
}

.candidate-top-div button:hover {
    border-radius: 5px;
}

.candidate-top-div a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}




.candidate-bottom-div {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
}


.candidate-table {
    width: 95%;
    margin: 10px 0px 50px;  
}


tr.contenttr {
    opacity: 0.75;
}


tr.contenttr:hover {
    opacity: 1;
}




th {
    width: 25%;
    align-content: center;
    text-align: center;
   
}




.candidate-detail-button {
    border: none;
    width: 50%;
    padding: 10px 30px 10px;
    border-radius: 10px;
}


.candidate-detail-button:hover {
    border-radius: 5px;
}


.candidate-detail-button a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    width: 100%;
}









