{% load static %}
<div class="addnew-candidate-page">


    <div class="addcandidate-inner-section">

        <div class="addcandidate-section-success-msg">
        
            {% if messages %}
            <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                {% for msg in messages %}
                <div>
                    {{ msg }}
                </div>
                {% endfor %}
                <i class="fa-solid fa-circle-check"></i>

            </div>
            {% endif %}    
        </div>


        <div class="addcandidate-form-section">

            <span><p>اضافه کردن کاندید جدید</p></span>
        
        

            <div class="addcandidate-form-div">
            
                <form method="POST" action="{% url 'SubmitCandidate' %}" accept="image/*" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="inpt-one">
                        <input type="text" name="name">
                        <label>: اسم کاندید</label>
                    </div>

                    <div class="inpt-two">
                        <input type="text" name="description"> 
                        <label>: توضیحات کاندید</label>
                    </div>


                    <div class="inpt-three">
                                                
                        <label for="candidate-img">انتخاب عکس کاندید<i class="fa-solid fa-image-portrait"></i></label>
                        <input type="file" name="image" id="candidate-img" hidden>
                        <img id="candidate-img-preview" alt="-" style="display: none; width: 125px; margin: 10px 15px 10px;">
                        
                        <button type="submit">ثبت</button>
                    </div>

                   
                </form>
                
            </div>



        </div>



    </div>


</div>




<script>

setTimeout(function() {
    var q_alert = document.querySelectorAll('.alert');
    q_alert.forEach( function(alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(() => { alert.remove(), 500});}) 
    }, 3000)





const getInput = document.getElementById('candidate-img');
const preImg = document.getElementById('candidate-img-preview');



getInput.addEventListener('change', ()=>{
    const file = getInput.files[0];
    preImg.src = URL.createObjectURL(file);
    preImg.style.display = 'block';
    btnRemovingImg.style.display = 'block';
})



</script> 



