{% load static %}
<div class="addnew-candidate-page">


    <div class="addcandidate-inner-section">

        <div class="addcandidate-section-success-msg">
        
            {% if messages %}
            <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                {% for msg in messages %}
                <div>
                    {{ msg }}
                </div>
                {% endfor %}
                <i class="fa-solid fa-circle-check"></i>

            </div>
            {% endif %}    
        </div>


        <div class="addcandidate-form-section">

            <span><p>اضافه کردن کاندید جدید</p></span>
        
        

            <div class="addcandidate-form-div">
            
                <form method="POST" action="{% url 'SubmitCandidate' %}" accept="image/*" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="inpt-one">
                        <input type="text" name="name">
                        <label>: اسم کاندید</label>
                    </div>

                    <div class="inpt-two">
                        <input type="text" name="description"> 
                        <label>: توضیحات کاندید</label>
                    </div>

                    <div class="inpt-three">
                        <input type="file" name="image"> 
                        <label>تصویر کاندید</label>
                    </div>

                    <button type="submit">ثبت</button>
                </form>
                
            </div>



        </div>



    </div>


</div>




<script>

setTimeout(function() {
    var q_alert = document.querySelectorAll('.alert');
    q_alert.forEach( function(alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(() => { alert.remove(), 500});}) 
    }, 3000)


</script> 



