{% load static %}
{% load jalali_tags %}

<!-- Add change candidate data-->
<!-- add vote panel assosiate with-->
<!-- run remove candidate btn-->



<div class="modify-candidate-section">



        <div class="candidate_data">
            {% if obj_list.image %}<img src="{{ obj_list.image.url }}"  width="75px" height="75px" style="border-radius: 10px;">{% endif %}
            
            <div class="candidate_info">
                <p class="candidate_name">نام کاندید :{{ obj_list.name }} </p>
                <p class="candidate_description">توضیحات: {{ obj_list.description }} </p>
                <p class='candi_createdate'>تاریخ ایجاد: {{ obj_list.created_at|to_jalali:'%H:%M:%S-%y/%m/%d' }}</p>
                <p class='candi_updateddate'>آخرین بروزرسانی: {{ obj_list.created_at|to_jalali:'%H:%M:%S-%y/%m/%d' }}</p>
            </div>
            


            <div class="modify-candidate-section-btns">
                <button type="button" class="remove-candidate-btn" id="rmcandidatebtn"><a class="remove-candidate-url">حذف کاندید</a></button>
                
               
                <div class="confirmationmodel" id="removecandidate">
                    
                    <div class="insidemodel">

                        <div class="contentmodel">
                            <p>حذف این کاندید در صورتی است که جزی از هیچ انتخاباتی نباشد</p>

                            <div class="modify-candidate-section success-msg-remove-candidate">
                                {% if messages %}
                                <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                                    {% for msg in messages %}
                                    <div>
                                        {{ msg }}
                                    </div>
                                    {% endfor %}
                                    <i class="fa-solid fa-circle-check"></i>

                                </div>
                                {% endif %}    
                             </div>

                        </div>

                        <div class="bottommodel">
                            <a href="{% url 'RemoveCandidate' id=obj_list.pk %}">تایید</a>
                            <button class="close-confirmmodel" id="cloesemodel">بستن</button>
                        </div>

                    </div>

                </div>

                

            </div>

        </div>

</div>


{% if messages %} 
<script>
    var openModel = document.getElementById('removecandidate');
    openModel.style.display = 'flex'
</script>
{% endif %}


<script>
var btnOpenModel = document.getElementById('rmcandidatebtn');

var openModel = document.getElementById('removecandidate');

btnOpenModel.onclick = function(){
    openModel.style.display = 'flex'
}

var cloeseModel = document.getElementById('cloesemodel')

cloeseModel.onclick = function() {
    openModel.style.display = 'none'
}

</script>
