{% load static %}
{% load jalali_tags %}




<div class="modify-candidate-section">

        <div class="candidate_data">
            {% if obj_list.image %}<img src="{{ obj_list.image.url }}"  width="75px" height="75px" style="border-radius: 10px;">{% endif %}
            
            <div class="candidate_info">
                <p class="candidate_name">نام کاندید :{{ obj_list.name }} </p>
                <p class="candidate_description">توضیحات: {{ obj_list.description }} </p>
                <p class='candi_createdate'>تاریخ ایجاد: {{ obj_list.created_at|to_jalali:'%H:%M:%S-%y/%m/%d' }}</p>
                <p class='candi_updateddate'>آخرین بروزرسانی: {{ obj_list.created_at|to_jalali:'%H:%M:%S-%y/%m/%d' }}</p>
            </div>
            
            <div class="modify-candidate-section-btns">
                <button type="button" class="remove-candidate-btn"><a class="remove-candidate-url" href="#">حذف کاندید</a></button>
            </div>
        </div>

</div>




