{% extends '../root.html' %}

{% block register_page %}


<p>register now !!</p>
<p><a href="{% url 'AuthLogin' %}">lOGIN now !! </a></p>


<form method="POST" action="{% url 'register' %}">

    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your username" ><p>username</p>
    <input type="password" name="password" placeholder="Enter your password" ><P> password</P>
    <button type="submit">Register</button>


</form>
<p><a href="{% url 'HomePage' %}">Back to home page</a></p>


{% endblock %}