{% extends 'root.html' %}
{% load static %}
{% block verify_otp %}


<div class="verify-user-otp">
    
    <div class="otp-img">
        <img src="../static/opt.jpg" width="450px" height="350px">
    </div>

    <div class="otp-form">

        <div class="success-msg-otp">
        {% if messages %}
        <div class="alert alert-danger d-flex align-items-center fade-in" role="alert">
            {% for msg in messages %}
            <div>
                {{ msg }}
            </div>
            {% endfor %}
            <i class="fa-solid fa-comment"></i>

        </div>
        {% endif %} 
        </div>

        <p>برای وارد شدن به سیستم باید وریفای شوید </p>

        <form method="post" action="{% url 'verify-user-otp' %}">
            {% csrf_token %}

            <input type="text" name="otp-input" placeholder="کد یکبار مصرف ارسال شده ؟">
            {% if locked_account %}
            <button  class="otpverifybutton" disabled > امکان وریفای اکانت شما وجود ندارد</button>
            {% else %}
            <button class="otpverifybutton">وریفای</button>
            {% endif %}
        </form>

        <button class="logout-otp"><a href="{% url 'logoutFromSystem' %}">خروج</a></button>
    </div>



    
</div>






<!-- <script>

setTimeout(function() {
    var q_alert = document.querySelectorAll('.alert');
    q_alert.forEach( function(alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(() => { alert.remove(), 500});}) 
    }, 3000)


</script> -->


{% endblock %}