
.navbar.navbar-expand-lg {
    background-color: #1E293B !important;
    z-index: 2;
    width: 100%;
    max-height: 100px;
    
    min-height: 75px;
    direction: rtl;
}



.empty-div-section {
        width: 10%;
}



.navbar {
    flex-wrap: nowrap;
}


.logo-section {
    width: 10%;
    padding: 15px 15px 15px 15px;
    text-align: center;
    color: white;

}


.logo-section p {
    margin: auto;
    font-weight: bolder;
    font-size: large;
}


.container-fluid {
    display: flex;
    width: 100%;
    height: auto;
    min-width: 250px;
    margin: 0px 15px 0px 15px;
    padding: 10px;
}

.navbar-nav  {
    display: flex;
    flex-direction: inherit;
    width: inherit;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}


.nav-item {
    width: max-content;
    margin: 0px 10px 0px 10px;
}


.nav-item:hover { 
    margin: 0px 10px 0px 10px;
    border-radius: 10px;
    background: #778da45c
}


.nav-item a {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 0px 15px 0px 0px;
    margin: 5px 5px 5px 5px;
}



.nav-item a:hover {
    color: rgb(255, 255, 255);
}
