{% load static %}





<div class="add-new-admin">

    <div class="add-new-admin-form">


            <div class="add-new-admin-header">
                <p> اضافه کردن ادمین جدید </p> 

                <div class="search-bar-section">
                        
                        <input class="txt-searchbor" name="searchUserforbecomingAdmin" onchange="send_data()" id='searchuserTOadmin' type="text" placeholder="جست‌وجو کابر .. ؟" >
                        <i class="fa-solid search-bar-icon fa-search"></i>
                   
                </div>

            </div>

            <form method="POST"  class='outter-form' action="{% url 'AddNewAdmin' %}"> 
            {% csrf_token %}
        
            <select name="addnewadmin" class="form-select  forms2 form-select-usertoadmin" id='selectionofuserstoadmin' aria-label="Default select example" multiple="multiple">
                <option selected> کاربران </option>
                {% for i in allusers %}
                <option id="userstoadminopt" value="user_{{i.id}}"> کد ملی : {{ i.national_code }} -|-  نام و ناخانوادگی : {{ i.first_name }} {{ i.last_name }} </option>
                {% endfor %}
            </select>

               

            <div class="admin-limitation">

                <div class="allowunlimitpanelcreation" >
                    <input type="checkbox" name="limit_making_votepanel">
                    <label> بدون محدودیت ساخت پنل</label>
                
                </div>


                <div class="numberofpanelcreation">
                    <input type="number" name="number_making_votepanel" value="-">
                    <label> تعداد مجاز ساخت پنل </label>
                </div>

           
            </div>

            <div class="button-section">


                <button class="btn btn-primary" type="submit">ثبت</button>

                <div class="modify-admin-section-success-msg">
    
                    {% if messages %}
                    <div class="alert alert-success d-flex align-items-center fade show" role="alert">
                        {% for msg in messages %}
                        <div>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        <i class="fa-solid fa-circle-check"></i>

                    </div>
                    {% endif %}


            </div>

        </form>

    </div>


</div>






<script>



setTimeout(function() {
    var q_alert = document.querySelectorAll('.alert');
    q_alert.forEach( function(alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(() => { alert.remove(), 500});}) 
    }, 3000)




async function send_data(){
    const inputvalue = document.getElementById('searchuserTOadmin');
    const selectionOfuserToadmin = document.getElementById('selectionofuserstoadmin')    
    const crsftoken = document.cookie.split('=')[1]


    console.log(inputvalue.value)
    

    let response = await fetch(`${window.location.protocol}//${window.location.host}/findusertoadmin/`, {

        headers: { 'content-type': 'application/json', 'X-CSRFToken': crsftoken },
        method : "post",
        body: JSON.stringify(inputvalue.value)
    });
    
    

    let oo = document.querySelectorAll("option#userstoadminopt")
        for ( i=0 ; i < oo.length; i++){
        oo[i].remove()
        }
  


    let result = await response.json();
        if (result.status == 200){

            
            let dataReturned = result.data
          

            for (items in dataReturned){
 
                let opttag = document.createElement('option')
                opttag.id = 'userstoadminopt'
                opttag.value = `user_${items}`
                opttag.text = dataReturned[items]
                selectionOfuserToadmin.appendChild(opttag)
            }

        } 
}




</script> 