{% load static %}


    <div class="registernewadmin-msg">

        {% if messages %}
        <div class="alert alert-danger d-flex  registernewadmin-sec fade-in" role="alert">
            {% for msg in messages %}
            <div>
                {{ msg }}
            </div>
            {% endfor %}
            <i class="fa-solid fa-comment"></i>

        </div>
        {% endif %} 

    </div>


<div class="registernewadmin-section">

    <form class="registernewadmin-form" action="{% url 'SubmitRegisterNewAdmin' %}" method="POST">
        {% csrf_token %}
        <div class="nationalcode-div">
            <label>کدملی</label>    
            <input name="national_code">
        </div>

        <div class="firstname-div">
            <label>نام</label>    
            <input name="first_name">
        </div>

        <div class="lastname-div">
            <label>نام خانوادگی</label>    
            <input name="last_name">
        </div>

        <div class="email-div">
            <label>ایمیل</label>    
            <input name="email">
        </div>

        <div class="phonenumber-div">
            <label>شماره همراه</label>    
            <input name="phone_number">
        </div>

        <button type="submit">ثبت</button>    
    
    </form>

</div>


<script>

setTimeout(function() {
    var q_alert = document.querySelectorAll('.alert');
    q_alert.forEach( function(alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(() => { alert.remove(), 500});}) 
    }, 3000)


</script>
