{% load jalali_tags %}

<div class="modify-adminusers-section">
    

    <div class="mau-section-right-container">


            <div class="settings-card p-4">
            
                <h4 class="mb-4 text-center">تنظیمات حساب کاربری</h4>
                
                {% if obj_list.profile %}
                <img src="{% url 'obj_list.profile.url' %}" alt="Profile" class="profile-pic">
                {% else %}
                <img src="../../../static/user.png" class="useraddedbyadmin-img" alt="{{ username }}" width="75px" height="75px">
                {% endif %}
                
                <div class="mt-2">
                    <label class="edituserimgbyadmin-label">تغییر عکس</label>
                    <input type="file" name='edituserimgbyadmin'>
                </div>

                <p> کد ملی : {{ obj_list.national_code }}</p>
                
                {% if obj_list.account_status == 'active' %}
                <p> وضعیت حساب :‌ فعال</p>
                {% elif obj_list.account_status == 'deactive'%}
                <p>وضعیت حساب :‌ غیرفعال</p>
                {% endif %}

    
            </div>


            <form method="post">
                {% csrf_token %}
                
                <div class="mb-3">
                <label class="form-label">نام : {{ obj_list.first_name }} </label>
                <input type="text" class="form-control" placeholder="نام خود را وارد کنید">
                </div>

                
                <div class="mb-3">
                <label class="form-label">نام خانوادگی : {{ obj_list.last_name }} </label>
                <input type="text" class="form-control" placeholder="نام خانوادگی خود را وارد کنید">
                </div>

                
                <div class="mb-3">
                <label class="form-label">ایمیل: {{ obj_list.email }} </label>
                <input type="email" class="form-control" placeholder="example@email.com">
                </div>

                
                <div class="mb-3">
                <label class="form-label">شماره تماس : {{ obj_list.phone_number }} </label>
                <input type="tel" class="form-control" placeholder="091xxxxxxxx">
                </div>

                
                <div class="mb-3">
                <label class="form-label">تغییر رمز عبور :</label>
                <input type="password" class="form-control" placeholder="رمز جدید">
                </div>

                <div class="text-end">
                <button type="submit" class="btn btn-primary">ذخیره تغییرات</button>
                </div>
            </form>

    </div>







    <div class="modify-adminusers-section success-msg">
    
        {% if messages %}
        <div class="alert alert-success d-flex align-items-center fade show" role="alert">
            {% for msg in messages %}
            <div>
                {{ msg }}
            </div>
            {% endfor %}
            <i class="fa-solid fa-circle-check"></i>

        </div>
        {% endif %}    
    </div>


</div>







<script>

setTimeout(function() {
    var q_alert = document.querySelectorAll('.alert');
    q_alert.forEach( function(alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(() => { alert.remove(), 500});}) 
    }, 3000)


</script> 