{% extends '../root.html' %}

{% block admin_dash_page %}

<div class="body-content">
        {% include 'admin/sidebar.html' %}

        <aside class="left-sidebar">

                <div class="dynamic-content"> {{ content | safe }} </div>

        </aside>

</div>





<style>
.left-sidebar {
        display: flex;;
        margin-left: 50px;
        margin-right: 250px;
        justify-content: center;
        position: relative;
        top: 120px;

}
 

.dynamic-content {
    display: flex;
    align-items: center;
    width:100%
}


</style>

{% endblock %}



