{% extends '../root.html' %}

{% block admin_dash_page %}

<div class="body-content">
        {% include 'admin/sidebar.html' %}

        <aside class="right-sidebar">
                <div class="dynamic-content">{{ content | safe }}</div>
        </aside>

</div>





<style>
.right-sidebar {
        display: flex;;
        margin: 0px 250px; 
        justify-content: center;
        position: relative;
        top: 120px;

}
 

.dynamic-content {
    display: flex;
    align-items: center;
}


</style>

{% endblock %}



