{% load static %}


<div class="dashboard-home-admin">

    <div class="div-votes dahs">
        <ul>
            <li>
                <a href="{% url 'VotesSection' %}">
                <i class="fa-solid fa-hand-point-up"></i>رای گیری
                
                </a>
            </li>
            
        </ul>
    </div>


        
    <div class="div-candidates dahs">
        <ul>
            <li>
                <a href="{% url 'Candidateslist' %}">
                <i class="fa-solid fa-user-tie"></i>کاندید ها
                </a>
            </li>
            
        </ul>
    </div>

    
    <div class="div-votes dahs">
        <ul>
            <li>
                <a href="{% url 'VotePanels' %}">
                <i class="fa-solid fa-cube"></i> انتخابات
                </a>
            </li>
            
        </ul>
    </div>
    {% if usertype == 'superadmin' %}
    <div class="div-admins dahs">
        <ul>
            <li>
                <a href="{% url 'AdminsList' %}">
                <i class="fa-solid fa-user-shield"></i>
                مدیران
                </a>
            </li>
            
        </ul>
        
    </div>
    {% endif %}
    
    {% if usertype == 'admin' %}
    <div class="div-admins dahs">
        <ul>
            <li>
                <a href="{% url 'LoadAddUserPage' %}">
                <i class="fa-solid fa-user-shield"></i>
                کاربران
                </a>
            </li>
            
        </ul>
        
    </div>
    {% endif %}
</div>

