{% load static %}


<div class="main-sidebar">


    <div class="dashboard-menu">
    
        <div class="dashboard-menu-options">

            <ul class="options menu" data-widget="tree">

                {% if usertype == 'superadmin' %}
                <li class="sub-spadmins page"> <a href="{% url 'AdminsList' %}"><i class="side-btn fa fa-dashboard"></i><span> مدیران </span></a></li>
                {% endif %}

                {% if usertype == 'admin' %}
                <li class="sub-admin page"><a href="{% url 'LoadAddUserPage' %}"><i class="side-btn fa fa-dashboard"></i><span> کابران </span></a></li>
                {% endif %}

                <li class="vote-panels page"><a href="{% url 'VotePanels' %}"><span class="fa fa-square-poll-vertical"></span><span>انتخابات</span></a></li>
                
                <li class="candidate page"><a href="{% url 'Candidateslist' %}"><i class="fa fa-users"></i><span> کاندید ها </span></a></li>
                
                <li class="votes page"><a href="{% url 'VotesSection' %}"><i class="fa fa-black-tie"></i> <span> رای ها </span></a></li>
        
                <li class="exit page" ><a href="{% url 'logoutFromSystem' %}"><i class="fa fa-arrow-left"></i> <span> خروج </span></a></li>

            </ul>
            
        </div>

    
    </div>
        
        
    <div class="locations-of-user">صفحه {{userlocation }}<i class='fa-solid fa-location-dot'></i> </div>


    <div class="userlogged-in">

        <div class="admin-info-sidebar">

            <a class="rel-dashboard" href="{% url 'AdminDashboard' %}">

                <div class="inner-admin-sidebar admin">


                    <div class="admin-image-section">

                        {% if profile %}
                        <img src="{{ profile.url }}" class="admin-image-section img" alt="{{ username }}" width="95px" height="95px">
                        {% else %}
                        <img src="../../../static/userimgs.jpg" class="admin-image-section img" alt="{{ username }}" width="95px" height="95px">
                        {% endif %}

                    </div>

                    <div class="admin-info-section">

                        <p class="admin-info-section p ">{{ userauth.first_name }}{{ userauth.last_name }} 
                         <i class="fa-solid fa-circle-user"></i> </p>
                        <p class="usertype"> {% if usertype == 'superadmin' %} سطح دسترسی :‌ SuperUser  {% endif %}</p>

                    </div>
                    
                </div>

            </a>

        </div>
        
    </div>

</div>



                