{% load static %}

<aside class="right-sidebar">

    <section class="inner-top-sidebar">

        <a class="rel-dashboard" href="{% url 'UserPanel' %}">

            <div class="inner-top-sidebar user">

                <div class="admin-image-section">
                    {% if profile %}
                    <img src="{{ profile.url }}" class="admin-image-section img" alt="{{ username }}" width="95px" height="95px">
                    {% else %}
                    <img src="{% static 'user.png' %}"  class="admin-image-section img" alt="{{ username }}" width="95px" height="95px">
                    {% endif %}
                </div>

                <div class="user-info-section">
                    <p class="admin-info-section p ">{{ userauth.first_name }}{{ userauth.last_name }}</p>
                    <i class="fa-solid fa-circle-user"></i>
                </div>

            </div>


        </a>

    </section>

    <section class="inner-bottom-sidebar">

        <ul class="inner-bottom-sidebar menu" data-widget="tree">


            
            <li class="vote-panels-page">
                <a href="{% url 'UserPanel' %}"><span class="fa fa-square-poll-vertical"></span><span>صفحه رای</span></a>
            </li>
           
            <li >
                <a href="{% url 'logoutFromSystem' %}"><span>خروج</span></a>
            </li>

        </ul>
        
    </section>

</aside>












