

{% block votingpanel %}
<div class="new-vote-panel-section">

    <form method="POST" action="{% url 'AddNewVotePanel' %}" accept="image/*" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="from-data-up">
            
            <label>نام پنل:</label>
            <input type="text" name="name" placeholder="یک نام انتخاب کنید" >
            
            <label>توضیحات پنل :</label>
            <input type="text" name="description" placeholder="توضیحات مناسب پنل را وارد کنید" >
            
        </div>


        <div class="changable-data">

            <div class="start_date-div">
                <label>تاریخ شروع </label>
                <input type="datetime-local" name="start_date">
            </div> 

            <div class="end_date-div">
                <label>تاریخ پایان </label>
                <input type="datetime-local" name="end_date">
            </div>
            
        </div>


        <div class="from-data-down">
            <label>عکس پنل</label>
            <input type="file" name="image" placeholder="یک تصویر برای انتخاب کنید"></br>
        </div>

        <button type="submit">ثبت</button><br>

    </form>

</div>

{% endblock %}


<style>




.new-vote-panel-section{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    direction: rtl;
}

.new-vote-panel-section form {
    width: 100%;
    text-align: center;
}

.from-data-up {
    margin:  25px 10px 50px 10px;
}


.from-data-down input {
    font-weight: bold;
    border-radius: 6px;
    margin: 15px;
}



.from-data-down {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}



.new-vote-panel-section form button {
    margin: 10px;
    width: 10%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
}

.new-vote-panel-section form button:hover {
    color: white;
    background-color: black;
} 


.changable-data {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.start_date-div {
    padding: 10px;
    margin: 0px 30px 0px 30px;
}

.end_date-div {
    padding: 10px;
    margin: 0px 30px 0px 30px;
}



input { 
    border-radius: 10px;
    border : 1px solid black;
    padding: 10px;
}


</style>