


<div >
<!-- TODO add back button to the previous page -->
<!-- TODO better style and text display -->

    <form method="POST" action="{% url 'ModifySelectedVotepanel' %}"> 
    {% csrf_token %}
       
        <input type="hidden" name="panel_id" value="{{ obj_list.id }}">
       
        <p> نام پنل: {{ obj_list.name }}</p> 
        <p>توضیحات :‌ {{ obj_list.description }}</p>

        <p>تاریخ شروع : {{ obj_list.started_date }}</p>
            <input type="datetime-local" name="start_date">

        <p>تاریخ پایان : {{ obj_list.end_date }} </p>
                <input type="datetime-local" name="end_date">

        <p>وضعیت فعلی :‌ {{obj_list.is_active }}</p>
            <select name="vote_status" class="form-select acc-status" aria-label="Default select example">
                <option selected>وضعیت پنل </option>
                <option value="active">فعال</option>
                <option value="deactive">غیر فعال</option>

            </select>
        <p>تاریخ ایجاد : {{obj_list.created_at }}</p>
        <p>آخرین بروزرسانی :‌ {{obj_list.updated_at }}</p>

        <button class="btn btn-primary" type="submit">ثبت</button><br>
    </form>
</div>
