{% load jalali_tags %}


<!-- TODO remove button for the pannel -->


<div class="votepanels-section">

    <div class="votepanels-top-section">
    
        
        <button><a href="{% url 'NewVoting' %}">اضافه کردن پنل جدید</a></button>
        <button><a href="{% url 'AdminDashboard' %}">بازگشت به صفحه اصلی</a></button>

    </div>

    {% for i in votingpanels %}
    <div class="votepanels-bottoms-section">

        </br><p>{{i.name}}</p>
        
        {% if i.image %}
        <img src="{{i.image.url}}" width="50px" height="50px"></img>
        {% endif %}

        <button type="button"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_{{ i.id }}">نمایش جزییات</button>
        <button type="button"  class="btn "><a href="{% url 'LoadSelectedVotePanel' id=i.id %}">تغییر اطلاعات</a></button>





    
        <div class="modal fade" id="modal_{{ i.id }}" tabindex="-1"  >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modallabel_{{ i.id }}"> اطلاعات پنل : {{ i.name }} </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="بستن"></button>
                    </div>
                    <div class="modal-body">
                    
                        <p>توضیحات : {{ i.description }}</p>

                        <p>تاریخ شروع : {{ i.started_date|to_jalali:'%H:%M:%S-%y/%m/%d'  }}</p>
                        <p>تاریخ پایان : {{ i.end_date|to_jalali:'%H:%M:%S-%y/%m/%d'  }}</p>
                        
                        
                        {% if i.is_active == 1 %}
                        <p>وضعیت فعلی :‌ فعال</p>
                        {% else %}
                        <p>وضعیت فعلی : غیر فعال</p>
                        {% endif %}


                        <p>تاریخ ایجاد : {{i.created_at|to_jalali:'%H:%M:%S-%y/%m/%d'  }}</p>
                        <p>آخرین بروزرسانی :‌ {{ i.updated_at|to_jalali:'%H:%M:%S-%y/%m/%d'  }}</p>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    {% endfor %}

</div>


