<div class="vote-to-votepanel-section">


    <div class="votepanel-deatils">
        <label>اسم‌انتخابات</label>
        <p scope="row" >{{ obj_list.name }}</p>

        <label>توضیحات</label>
        <p scope="row" >{{ obj_list.description }}</p>    

        {% if obj_list.image %}<img src="{{ obj_list.image.url }}"  width="75px" height="75px" style="border-radius: 10px;">{% endif %}
    </div>




    <div class="votepanel-form">

        <form method="POST" action="{% url 'SubmitVote' %}" class="form-vote">
            {% csrf_token %}
            <div class="candidate-tovote-section">
            {% for i in obj_list_2 %}
                <div class="candidates">

                    
                    {% if i.image %}
                    <img src="{{i.image.url}}" width="150px" height="150px"></img>
                    {% endif %}

                    <div class="candidate-infos">

                        <p class="candidate-name">{{i.name}}</p>

                        <div  class="candidate-buttons">
                            <input type="hidden" name="vp_pks" value="vp_{{ obj_list.pk }}">
                            <input  class='checkbox-btn-candidates btn ' type="checkbox"  name="candiname_" value="cadname_{{ i.pk }}">انتخاب</button>
                        </div>

                    </div>

                </div>
            {% endfor %}    

            </div>        
        </form>
        
            {% if truth_obj %}
            <button class="btn submitbtn btn-primary" type="submit">ثبت</button><br>
            {% else %}
            <button class="btn submitbtn btn-primary" type="submit" disabled>رای شما ثبت شده</button><br>
            {% endif %}

    </div>

    <div class="submitedcandidate">
        {% for i in obj_list_3 %}
        <div class="candidatedvoted">
            {% if i.candidate.image %}
            <img class="votedcandidateimg" src="{{ i.candidate.image.url }}">
            {% endif %}
            <p class="votedcandidatename">{{ i.candidate.name }}</p>
            <p class="votedcandidatdescription">{{ i.candidate.description }}</p>
        </div>
        {% endfor %}
    
    </div>


</div>





